@import './base.css';

.loder-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0,.5);
}
.loder {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #000;
    border-bottom-color: orange;
    animation: rotate 1s infinite linear;
}
.active {
    display: flex;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.header {
    background-color: rgb(255, 255, 255, .8);
    padding: 20px 0;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}
.scrollNavbar {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #494949;
}
.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.header .logo img {
    width: 35px;
}
.header .logo a {
    font-family: var(--therdFont);
    color: var(--mainColor);
}
.header .menu {
    display: none;
}
.header .nav {
    display: flex;
    align-items: center;
}
.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.header .nav ul li a {
    color: #101928;
}
.header .nav ul li .active {
    font-weight: bold;
}
.header .auth {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .auth a {
    padding: 5.3541765213012695px 30.18113136291504px;
    border-radius: 10px;
    font-family: var(--subFont);
}
.header .auth .login {
    border: 2px solid var(--mainColor);
    font-weight: 700;
}
.header .auth .Register {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: #fff;
}
/* Start Responsive */
@media screen and (max-Width: 992px) {
    .header .nav,
    .header .auth {
        display: none;
    }
    .header .menu {
        display: block;
    }
}
@media screen and (max-Width: 576px) {
    .container {
        width: calc(100% - 50px);
    }
}
/* End Responsive */
/* End Header */

.categories .row , .products .row {
    gap: 20px;
}
.categories .category , .products .product {
    width: 30%;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.categories .category {
    align-items: center;
    background-color: tan;
    box-shadow: 2px 7px 10px 2px rgb(0 0 0 / 19%);
}
.categories .category a {
    color: black;
}
.products {
    margin-top: 100px;
}
.products h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}
.products .product {
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0, 0, 0,.1);
}
.products .product img {
    width: 100%;
    cursor: pointer;
}
/***************/
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}
/*******************/
.my-modal {
    background-color: rgb(0, 0, 0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-modal .img {
    padding: 25px 50px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0,.8);
    position: relative;
}
.my-modal img {
    width: 400px;
    margin: 0 1px;
}

.close-but,
.left-but,
.right-but {
    position: absolute;
    color: #fff;
    font-size: 20px;
    background-color: rgb(0, 0, 0,.75);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.close-but{
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
.left-but{
    left: 10px;
    top: 50%;
}
.right-but{
    right: 10px;
    top: 50%;
}
.d-none {
    display: none;
}